$size: 30px;
div[data-editor-component="inspector-controls--image-uploader"] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	label {
		display: block;
		margin-bottom: 8px;
	}
	img {
		border: 1px solid #e2e4e7;
		max-width: 100%;
	}
	span {
		display: block;
		width: 100%;
	}
	button {
		margin-top: 5px;
	}
}
