$browser-margins:20px;
$browser-margins-width-button:20px;
$button-bg-color: white;
$border-radius: 50px;
$text-color: #555D67;
div[data-component="cookie-notice"] {
	transition: all 0.8s $easeInOutBack;
	position: fixed;
	bottom: $browser-margins;
	right: $browser-margins;
	background-color: $button-bg-color;
	border-radius: $border-radius;
	z-index: 10;
	min-height: 60px;
	padding: 5px 10px;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0 7px 14px rgba(50,50,93,.05), 0 3px 6px rgba(0,0,0,.08);

	@include media(tablet-portrait) {
		max-width: 660px;
	}

	@include media(mobile) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 20px 20px 10px 20px;
		border-radius: 20px;
		max-width: calc( 100vw - 90px);
		right: $browser-margins + 55px !important;
		bottom: $browser-margins - 10px !important;
	}

	&.-not-alone {
		right: $browser-margins + 60px + 10px;
	}

	&.-leave {
		bottom: -100px;
	}

	p {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		font-size: 14px;
		color: $text-color;
		padding: 0 30px 0 20px;
		margin: 0;
		@include media(mobile) {
			padding: 0;
		}

		@include media(tablet-portrait) {
			font-size: 13px;
			br { display: none; }
		}
	}

	button {
		transition: all 0.8s $easeOutQuart;
		background-color: rgba(black, 0.1);
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		font-size: 14px;
		border-radius: $border-radius;
		padding: 12px 25px;
		text-decoration: none;
		color: $text-color;
		font-weight: 500;
		border:none;
		cursor: pointer;
		outline: none;

		@include media(mobile) {
			margin-top: 15px;
			width: 100%;
		}

		/* ---- hover ---- */

		&:hover {
			background-color: rgba(black, 0.18);
		}
	}

}

